.space-100 {
  --space: var(--s-100);
}
.space-200 {
  --space: var(--s-200);
}
.space-300 {
  --space: var(--s-300);
}
.space-400 {
  --space: var(--s-400);
}
.space-500 {
  --space: var(--s-500);
}
.space-600 {
  --space: var(--s-600);
}
.space-700 {
  --space: var(--s-700);
}
.space-800 {
  --space: var(--s-800);
}
.space-900 {
  --space: var(--s-900);
}
